@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header-list,
.about-us,
.products,
.order-delivery,
.footer-info,
.why-we {
    width: 1366px;
    margin: 0 auto;
}


.header {
    margin-top: 30px;
}

.header-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    margin-right: 15px;
}

.logo {
    width: 160px;
    height: 160px;
}

.navbar {
    margin-right: 15px;
}

.navbar-list {
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar-items {
    padding: 26px 15px;
    transition: 0.3s;
}

.navbar-items:hover {
    border: 1px solid #F3CDD5;
    transition: 0.3s;
    color: #F3CDD5;
}

.header-line {
    width: 1px;
    height: 50px;
    background-color: #F3CDD5;
}

.header-contacts p {
    padding: 0 15px;
    line-height: 2;
}

.header-contacts p:hover {
    color: #F3CDD5;
    transition: 0.3s;
}

.language-choose {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.language-items {
    line-height: 25px;
    padding: 0 15px;
    transition: 0.3s;
}

.language-items:hover {
    color: #F3CDD5;
    transition: 0.3s;
}

.why-we-title {
    text-align: center;
    font-weight: 700;
    font-size: 1.6rem;
    padding-top: 25px;
}

.why-we-list {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
.why-we-list:before{
content: url("../img/icons/delivery.svg");
}
.why-we-list:nth-child(2){

}
.why-we-list:nth-child(3){

}
.why-we-list:nth-child(4){

}

.about-us {
    margin-top: 50px;
}

.abouts-us-info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 50px 25px;
    text-align: center;
    line-height: 2;
    box-shadow: 0 0 25px 5px rgba(243, 205, 213, 1);
}

.about-us-title {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.about-us-description {
    padding-top: 25px;
    text-transform: uppercase;

}

.products-info {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products-title {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.products-list {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    align-items: center;
    justify-content: space-between;
}

.products-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 250px;
    height: 250px;
    box-shadow: 0 0 25px 5px rgba(243, 205, 213, 1);
    transition: 0.3s;
}

.products-item:hover {
    box-shadow: 0 0 25px 10px rgba(243, 205, 213, 1);
    transform: scale(1.2);
    transition: 0.3s;
}

.card-img {
    width: 228px;
}

.delivery {
    margin-top: 100px;
}

.delivery-title {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.delivery-description {
    margin-top: 25px;
}

.delivery-list {
    line-height: 2;
}

.delivery-items {
    text-transform: uppercase;
}

.delivery-items a {
    color: black;
    border-bottom: 1px solid black;
    transition: 0.3s;
}

.delivery-items a:hover {
    transition: 0.3s;
    color: #F3CDD5;
    border-bottom: 1px solid #F3CDD5;
    padding-bottom: 3px;
}

.order-delivery-line {
    height: 3px;
    width: 100%;
    background-color: #F3CDD5;
}

.order {
    margin-top: 50px;
}

.order-title {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.order-items {
    line-height: 2;
    text-transform: uppercase;
}

.footer {
    background-color: #F3CDD5;
    margin-top: 50px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.footer-icons {
    display: flex;
    flex-direction: column;
}